<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="uService" 
	class="setterInject1.UserService">
	 	<property name="userName" value="system" />
	 	<property name="pass" value="admin@" />
	</bean>

	<bean id="aService" 
	   class="setterInject1.AccountService">
	 	<property name="dbName" value="oracle" />  
	</bean>


</beans>
