<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
  <bean id="uService" 
	      class="constrInject1.UserService">
	   <constructor-arg value="system"/>
	   <constructor-arg value="user@1234"/>
	</bean> 
	
	<bean id="aService" 
	      class="constrInject1.AccountService">
	  <!--   <constructor-arg value="mysql"/>-->
	</bean> 
	
</beans>